# Ignore Visual Studio Code file
.vscode/

# Remove environmental and binary files
DogTransport/bin/
DogTransport/obj/
DogTransport/Migrations/

*.com
*.class
*.dll
*.exe
*.o
*.so

# Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip