# Ignore Visual Studio Code file
.vscode/
.DS_Store

# Remove environmental and binary files and local database
DogTransport/bin/
DogTransport/obj/
DogTransport/Migrations/
*.db

*.com
*.class
*.dll
*.exe
*.o
*.so

# Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip